.home {
  padding: 20px;
  /* padding-right: 2px; */
  width: 60%;
}

.heroSection {
  background-color: #f0a500;
  color: #fff;
  padding: 130px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.shopNowBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.shopNowBtn:hover {
  background-color: #555;
}

@media (max-width: 900px) {
  .home {
    padding: 10px;
    margin-right: -40px;
  }
  .heroSection {
    padding: 10rem 3rem;
  }
  .shopNowBtn {
    margin-top: 10px;
  }
}
