.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 20px;
  width: 50%;
  max-height: 70vh;
  box-shadow: 0 4px 8px rgba(29, 28, 28, 0.1);
  margin: 16px 16px;
  color: black;
  position: relative;
}
.cancel {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #ffffff;
  background-color: red;
  padding: 4px;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: #333;
}

p {
  font-size: 1rem;
  margin: 4px 0;
}

.inStock {
  color: green;
}

.outOfStock {
  color: red;
}

.productImage {
  height: 40%;
  border-radius: 4px;
  margin: 20px 0;
}
.tag {
  background-color: #debb21;
  color: #ffffff;
  border: none;
  padding: 2px 3px;
  font-size: 1rem;
  border-radius: 5px;
}
