.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo h2 {
  color: #f0a500;
}
h3 {
  color: #ff7f50;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navLinks a:hover {
  color: #f0a500;
}

.loginBtn {
  padding: 10px 20px;
  border: none;
  background-color: #f0a500;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.loginBtn:hover {
  background-color: #d89200;
}

@media (max-width: 900px) {
  .navbar {
    min-width: 100vw;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    gap: 1rem;
    font-size: 0.6rem;
  }
  h3 {
    display: none;
  }
  .navBtn {
    padding: 8px 6px;
  }
  .navLinks {
    margin-left: 1rem;
  }
  .loginBtn {
    padding: 8px 6px;
    margin-right: 0.5rem;
  }
}
